## **Cleaning and ordering ***new_people_count_12_12_2024*****

In [1]:
import pandas as pd
import numpy as np

people_count = pd.read_csv("new_people_count_12_12_2024.csv")

# Convert the 'time' column to datetime for accurate sorting
people_count['time'] = pd.to_datetime(people_count['time'])

# Sort the DataFrame in descending order by 'time'
people_count_sorted = people_count.sort_values(by='time', ascending=False)

people_count_sorted.to_csv("new_people_count_12_12_2024.csv", index=False)

people_count_sorted.head()

                    time                  Image Name  Number of People
2023 2024-12-12 06:50:00  2024-12-12-06-50-image.png                 0
286  2024-12-12 06:40:00  2024-12-12-06-40-image.png                 0
363  2024-12-12 06:30:00  2024-12-12-06-30-image.png                 0
3289 2024-12-12 06:20:00  2024-12-12-06-20-image.png                 0
2968 2024-12-12 06:10:00  2024-12-12-06-10-image.png                 0

In [2]:
# Count the rows where 'Number of People' equals 0
count_zero_people = (people_count['Number of People'] == 0).sum()

# Display the count
print(f"Number of rows where 'Number of People' is 0: {count_zero_people}")

Number of rows where 'Number of People' is 0: 4185

## **Cleaning and ordering ***all_sensor_data_12_12_2024.csv*****

In [3]:
sensor_data = pd.read_csv("all_sensor_data_12_12_2024.csv")

# Rename the 'rounded_time' column to 'time'
sensor_data.rename(columns={"rounded_time": "time"}, inplace=True)

# Convert 'time' column to datetime
sensor_data['time'] = pd.to_datetime(sensor_data['time'])

# Filter out rows where both 'co2_value' and 'sound_value' are 0
sensor_data_filtered = sensor_data[(sensor_data['co2_value'] != 0) | (sensor_data['sound_value'] != 0)]

# Sort the DataFrame in descending order by 'time'
sensor_data_sorted = sensor_data_filtered.sort_values(by='time', ascending=False)

sensor_data_sorted.to_csv("cleaned_all_sensor_data_12_12_2024.csv", index=False)

# Display the sorted DataFrame
sensor_data_sorted.head()

                 time  co2_value  sound_value  ventilation_value
0 2024-11-24 16:50:00      401.0         38.0                  0
1 2024-11-14 17:00:00      503.0         48.0                  0
2 2024-11-14 16:50:00      551.0         48.0                  0
3 2024-11-14 16:40:00      579.0         48.0                  0
4 2024-11-14 16:30:00      633.0         47.0                  0